<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de">
	<head>
		<title>Das ultimative EM-Tippspiel</title>
		
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<meta http-equiv="content-language" content="de" />
		<meta name="language" content="de" />
		<link rel="stylesheet" href="style.css" type="text/css" />
		
       

		<!--[if IE]><link rel="stylesheet" type="text/css" href="ie.css" /><![endif]-->
	</head>
<body id="Startseite">

<div id="container">
	<a href="#cont" id="skip" accesskey="s">Zum Inhalt</a>

	<h1><a href="#" title="Zur Startseite" accesskey="1">Das ultimative EM-Tippspiel</a></h1>
	
	<ul id="menu">
	<li class="startseite" id="mn_Startseite"><a href="#"><span>Startseite</span></a>
	</li>
	<li class="zwischenstand" id="mn_zwischenstand"><a href="http://randale.ch/tippspiel/Zwischenstand.htm"><span>Ausgang Tippspiel</span></a>
	</li>
</li>
	<li class="zwischenstand" id="mn_zwischenstand"><a href="http://randale.ch/tippspiel/Expertentipps.htm"><span>Ausgang Expertentipps</span></a>
	</li>
	<li class="overview" id="mn_Overview"><a href="http://randale.ch/tippspiel/overview.php"><span>&Uuml;bersicht Teilnehmer</span></a>
	</li>
</ul>	
	<div id="content">
	
		<h2 id="cont">Startseite</h2>
			
	<h3>09. Juli 2006</h3>
	
	<p>Folgende Gewinnaussch&uuml;ttungen haben sich ergeben: <br />
	
<br />
<ul>
		<li>1. Platz &agrave; Fr. 560.00 --> MARCO COZZO</li>
		<li>2. Platz &agrave; Fr. 420.00 --> JONAS HERZOG</li>
		<li>3. Platz &agrave; Fr. 280.00 --> TIMO DREIER</li>
		<li>Sieger Expertentipps &agrave; Fr. 140.00 --> PETER WAGNER</li>
	</ul>

<br />
<br />

Hier noch die Resultate der Expertentipps:
<br>

<ul>
		<li>Anzahl Tore (inkl. Elfmeter) --> <b>168</b></li>
<li>Anzahl Rote Karten (direkt rot) --> <b>9</b></li>
<li>Anzahl Tore des Torsch&uuml;tzenk&ouml;nigs --> <b>5</b></li>
<li>Schw&auml;chste Mannschaft --> <b>Serbien & Montenegro</b></li>
<li>Torreichste Vorrundenspiele mit je 6 Treffern --> <b>Argentinien - Serbien & Montenegro und Deutschland - Costa Rica</b></li>
<li>Offiziell bester Torh&uuml;ter --> <b>Gianluigi Buffon</b></li>
<li>Offiziell bester Spieler--> <b>Zinedine Zidane</b></li>
	</ul>

</p>	</div>
	
	<div id="footer">
		<a href="#container">Top</a> | <a href="mailto:silvan.staeheli@ubs.com">Kontakt</a>
	</div>
</div>

	
</body>
</html>